*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-variation-settings:
        "wdth" 100;
}

html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;

}

:root {
    --dark: #262626;
    --gray: #888888;
    --light: #E8E8E8;
    --lighter: #F2F2F2;
    --yellow: #FADA5E;
    --blue: #A5C8FF;
    --dark-blue: #7FADFF;
    --darker-blue: #4A7FC9;
    --title-family: 'Montserrat';
    --hero-height: calc(100vh - 142px);
    color: #888888;
    font-family: 'Noto Sans';
    font-size: 62.52%;
    font-weight: 300;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-family), sans-serif;
    font-weight: 600;
    line-height: 1.2;
    font-size: 5.4rem;
}

a {
    display: inline-block;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* Remove o outline padrão apenas para elementos que NÃO usam teclado */
:focus:not(:focus-visible) {
    outline: none;
}

/* Adiciona um outline personalizado para foco acessível (teclado) */
:focus-visible {
    outline: 1px solid var(--dark-gray);
    outline-offset: 1px;
    box-shadow: 0 0 0 4px rgba(38, 38, 38, 0.2);
    border-radius: 1.4rem;

}
body {
    line-height: 1;
    background-color: var(--light);
}
